{{- if gt (len .SecuritySchemeProviderNames) 0 }}
const (
{{range $ProviderName := .SecuritySchemeProviderNames}}
    {{- $ProviderName | sanitizeGoIdentity | ucFirst}}Scopes = modelspkg.{{- $ProviderName | sanitizeGoIdentity | ucFirst}}Scopes
{{end}}
)
{{end}}
