{{- $hasTypes := false -}}
{{- range . -}}
  {{- if .TypeDefinitions -}}{{- $hasTypes = true -}}{{- end -}}
{{- end -}}
{{- if $hasTypes -}}
type (
{{- range . }}{{range .TypeDefinitions}}
    {{.TypeName}} = modelspkg.{{.TypeName}}
{{end}}{{- end}}
)
{{end}}
